.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
